/*
*   author: Wiebe Ranzijn / Huntski
*   class: MD1A
*/

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

/* ------------ reset browser css ------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------ global css ------------ */

/*
	colors:
		orange {
			#F7A71F dark orange
			#FFC45F light orange
		}

		blue {
			#11314e darkest blue
			#1B5C94
			#2677BE
			#4FADFF
			#9BD1FF
			#C0E2FF lighest blue
		}
*/

/* remove scrollbar */

::-webkit-scrollbar { display: none; }

@font-face {
	font-family: "Beaufort";
	src: url(../fonts/Beaufort-Bold.ttf);
	font-weight: 700;
}

html {
	height: 100%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #17456D;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button, input {
	border: none;
	background: none;
	padding: 5px 10px;
	outline: none;
}

button, input[type=submit], input[type=button] {
	cursor: pointer;
}

/* cursor default */
button, a { cursor: pointer; }

a {
	color: #fff;
	text-decoration: none;
}

.btn-active {
	color: #17456D;
	background: #FFC45F;
	border-bottom: solid 5px #F7A71F;
	transition: .1s;
	font-size: 0.9em;
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.btn-open {
	position: relative;
	color: #fff;
	background: none;
	border: solid 2px #fff;
	text-transform: uppercase;
	font-size: 1.0em;
	padding: 15px 25px;
	transition: all .9s;
}
.btn-open:hover {
	color: #FFC45F;
}

.inp-open {
	display: block;
	margin: 20px auto;
	color: #fff;
	border: solid 2px #fff;
	font-size: 1.0em;
	padding: 15px 25px;
	transition: all .9s;
	border-bottom-width: 4px;
}
.inp-open::placeholder {
	color: #ffffffaa;
}

.inp-open:hover::placeholder {
	color: #fff;
}

.img-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1 !important;
	opacity: .6;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.img-background img {
	width: 100%;
	height: auto;
}

/* ------------ layout css ------------ */

/* -- header -- */

header {
	width: 100%;
}

nav a {
	position: relative;
	text-transform: uppercase;
	padding: 15px 10px;
	margin: 0 2vw;
	transition: transform .3s;
	font-size: 0.8em;
}

nav a::after {
	content: "";
  	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	transform: scale(0, 1);
	transition: transform .2s ease;
	color: #000;
}

nav a:hover::after {
  	transform: scale(1);
}

nav a.onpage::after {
	transform: scale(1) !important;
}

header img {
	cursor: pointer;
}

header .logo img {
	max-width: 60px;
}

.avatar {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	width: 60px !important;
	height: 60px !important;
	background: #fff;
}

.avatar img {
	position: absolute;
	top: 0;
	left: 0;
	height: 110% !important;
}

.menu-icon, .logo {
	border-radius: 50%;
	z-index: 1;
}

/* desktop menu */

/* mobile menu */

.header-dropdown {
	position: fixed;
	top: -100vh;
	background: #17456D;
	text-align: center;
	z-index: 1;
	width: 100%;
	transition: .5s ease;
	padding: 10px 0;
}

.header-dropdown img {
	margin: 15px auto;
}

.header-dropdown nav * {
	margin-top: 7px;
	display: inline-block;
}

/* -- main -- */

main {
	width: 100%;
	min-height: 60vh;
}

/* home active article  */

.article-active {
	position: relative;
	height: 100vh;
	font-size: 1.3em;
	color: #F7A71F;
	font-family: "Beaufort";
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.article-active h1 {
	text-transform: uppercase;
	font-size: 3em;
}

.article-active h2 {
	color: #fff;
	font-size: 1.5em;
}
.article-active h2::first-letter {
	text-transform: uppercase;
}

.article-active button {
	margin-top: 8vh;
}

/* search bar */

.search-article {
	margin-top: 40px;
}

/* list article */

.article-list-filter {
	border-bottom: solid 1px #4FADFF;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 130px;
	font-size: 1.5em;
}

.article-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1350px;
	margin: 0 auto;
	margin-top: 20px;
}

article {
	position: relative;
	text-align: center;
	overflow: hidden;
	width: 350px;
	height: 350px;
	margin: 40px;
	font-family: "Beaufort";
}

article:hover img {
	transform: scale(1.1);
}

article div:nth-child(1) {
	padding-top: 81%;
}

article h1 {
	color: #FFC45F;
	font-size: 1.3em;
	margin-bottom: 2px;
}

article h2 {
	color: #fff;
	font-size: 1.1em;
}

article img {
	height: 160% !important;
	width: auto !important;
	transition: .3s;
}

/* pagination links */

.pagination {
	margin: 0 auto;
	text-align: center;
}

.pagination a {
	color: black;
	padding: 8px 16px;
	margin: 0 5px;
	text-decoration: none;
	transition: background-color .3s;
}

.pagination a {
	background: #4FADFF;
}
.pagination a:hover {
	background: #F7A71F;
}

.pagination a.onpage {
	background: #F7A71F;
}

/* form */

form {
	max-width: 400px;
	min-height: 560px;
	text-align: center;
	line-height: 1.7;
	margin: 70px auto;
	background: #1B5C94;
	padding: 40px 0;
}

form input {
	margin: 30px auto;
	/* font-size: 1.2em; */
}
form .btn-active:active {
	margin-top: 34px !important;
	border-bottom-width: 1px;
}

form div {
	margin: 0 auto;
}

form .logo img {
	max-width: 60px;
}

form h2, p, a {
	color: #4FADFF;
}

/* -- footer -- */

footer {
	width: 100%;
	color: #4FADFF;
}

footer p {
	margin: 20px 70px;
}

footer p:nth-child(1) {
	float: left;
}

footer p:nth-child(2) {
	float: right;
}

/* -- media querys -- */

@media screen and (max-width: 900px) {

	/* --- global css --- */

	.btn-active:active {
		margin-top: 3px !important;
		border-bottom-width: 1px;
	}

	.mobile {
		display: block;
		margin: 0 auto;
	}

	.desktop {
		display: none;
	}

	/* --- layout css --- */

	/* header */

	header {
		position: fixed;
	}

	header .menu-icon, header .logo {
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
		position: fixed;
		top: 0;
		transition: .2s ease;
		opacity: .9;
	}
	header .menu-icon:hover, header .logo:hover {
		opacity: 1;
	}

	header .menu-icon {
		left: 0;
		transition: transform .3s;
	}

	header .logo {
		right: 0;
	}

	/* main */

	.article-active img {
		height: 100%;
		width: auto !important;
	}

	article {
		max-width: 600px;
		max-height: 600px;
	}

	.article-list-filter {
		text-align: center;
		width: 80%;
		margin-top: 30px;
		padding: 0;
		padding: 35px 0;
	}

	/* footer */

	/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGF */
}

@media screen and (min-width: 900px) {

	/* --- global css --- */

	.btn-active:active {
		margin-top: 4px !important;
		border-bottom-width: 2px;
	}

	/* --- layout css --- */

	header {
		background: #17456D;
		border-bottom: solid 1px #000;
		z-index: 1;
		padding: 5px 0;
	}

	header * {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		padding: 3px 0;
	}

	.btn-active:active {
		margin-top: 23px !important;
	}

	header .logo, header .login, header .avatar {
		position: absolute;
		top: 0;
	}

	header .logo {
		left: 0;
		margin: 1px 30px;
	}

	header .login {
		right: 0;
		margin: 19px 30px;
	}

	header .avatar {
		right: 0;
		margin: 12px 30px;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

	/* main */

	.article-active {
		height: 70vh;
	}

	.article-active {
		text-align: right;
	}

	.article-active div:nth-child(1) {
		width: 40%;
	}

	.article-active h1 {
		font-size: 3vw;
	}

	.article-active h2 {
		font-size: 1.3vw;
	}

	.article-active button {
		float: left;
		z-index: 1;
	}

	.article-active img {
		margin-top: -10%;
	}

	/* footer */

	footer p {
		margin: 45px 70px;
	}

	footer p:nth-child(1) {
		float: left;
	}

	footer p:nth-child(2) {
		float: right;
	}
}