/*
*   author: Wiebe Ranzijn / Huntski
*   class: MD1A
*/

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

/* ------------ reset browser css ------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 300px;
}

/* ------------ global css ------------ */

/*
	colors:
		orange {
			#F7A71F dark orange
			#FFC45F light orange
		}

		blue {
			#17456D darkest blue
			#1B5C94
			#2677BE
			#4FADFF
			#9BD1FF
			#C0E2FF lighest blue
		}
*/

/* remove scrollbar */
::-webkit-scrollbar { display: none; }

@font-face {
	font-family: "Beaufort";
	src: url(../fonts/Beaufort-Bold.ttf);
	font-weight: 700;
}

html {
	height: 100%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #17456D;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button, input {
	border: none;
	background: none;
	padding: 5px 10px;
	outline: none;
}

/* cursor default */
button, a { cursor: pointer; }

a {
	color: #fff;
	text-decoration: none;
}

.btn-active {
	color: #fff;
	background: #FFC45F;
	border-bottom: solid 4px #F7A71F;
	transition: .1s;
	font-size: 0.9em;
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.btn-open {
	position: relative;
	color: #fff;
	background: none;
	border: solid 2px #fff;
	text-transform: uppercase;
	font-size: 1.0em;
	padding: 15px 25px;
	transition: all .9s;
}
.btn-open:hover {
	color: #FFC45F;
}

/* ------------ layout css ------------ */

/* -- header -- */

header {
	position: fixed;
	width: 100%;
}

header nav a {
	position: relative;
	text-transform: uppercase;
	padding: 15px 10px;
	margin: 0 2vw;
	transition: transform .3s;
}

header nav a::after {
	content: "";
  	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	transform: scale(0, 1);
	transition: transform .2s ease;
	color: #000;
}
header nav a:hover::after {
  	transform: scale(1);
}

header nav a.onpage::after {
	transform: scale(1) !important;
}

header img {
	cursor: pointer;
	max-width: 60px;
}

.menu-icon, .logo {
	border-radius: 50%;
}

/* desktop menu */

/* mobile menu */

.header-dropdown {
	position: fixed;
	top: -100vh;
	background: #17456D;
	text-align: center;
	/* z-index: 1; */
	width: 100%;
	transition: .5s ease;
	padding: 10px 0;
}

.header-dropdown img {
	margin: 15px auto;
}

.header-dropdown nav * {
	margin-top: 7px;
	display: inline-block;
}

/* -- main -- */

main {
	width: 100%;
}

/* home page */

.home {
	width: 100%;
}

.article-active {
	height: 100vh;
	font-size: 1.3em;
	color: #F7A71F;
	font-family: "Beaufort";
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.article-active h1 {
	text-transform: uppercase;
	font-size: 3em;
}

.article-active h2 {
	color: #fff;
	font-size: 1.5em;
}
.article-active h2::first-letter {
	text-transform: uppercase;
}

.article-active button {
	margin-top: 8vh;
}

.article-bg::after {
	content: "";
	position: absolute;
	z-index: -1;
	opacity: .32;
	background-position: center !important;
	background-size: auto 100% !important;
	width: 100%;
	height: 100%;
}

.article-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	width: 200px;
	height: 200px;
	background-repeat: no-repeat !important;
	background-size: auto, 100%;
	background-position: center;
}

/* -- footer -- */

/* -- media querys -- */

@media screen and (max-width: 900px) {

	/* --- global css --- */

	.btn-active:active {
		margin-top: 3px !important;
		border-bottom-width: 1px;
	}

	.mobile {
		display: block;
		margin: 0 auto;
	}

	.desktop {
		display: none;
	}

	/* --- layout css --- */

	.menu-icon,	.logo {
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
		position: fixed;
		top: 0;
		transition: .2s ease;
		opacity: .8;
	}
	.menu-icon:hover, .logo:hover {
		opacity: 1;
	}

	.menu-icon {
		left: 0;
		transition: transform .3s;
	}

	.logo {
		right: 0;
	}
}

@media screen and (min-width: 900px) {

	/* --- global css --- */

	.btn-active:active {
		margin-top: 4px !important;
		border-bottom-width: 2px;
	}

	/* --- layout css --- */

	header {
		background: #17456D;
	}

	header * {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		padding: 10px 0;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

	.logo, .login {
		margin: 3px;
	}
}